<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StartupPrograms.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <StartupPrograms.My.MySettings>
            <setting name="URL1" serializeAs="String">
                <value />
            </setting>
            <setting name="URl2" serializeAs="String">
                <value />
            </setting>
            <setting name="URL3" serializeAs="String">
                <value />
            </setting>
            <setting name="URL4" serializeAs="String">
                <value />
            </setting>
            <setting name="URL5" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangedURL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interaction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Outlook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServiceDeskTool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoftwareCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerShell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rumba" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotePad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="File1" serializeAs="String">
                <value />
            </setting>
            <setting name="File2" serializeAs="String">
                <value />
            </setting>
            <setting name="File3" serializeAs="String">
                <value />
            </setting>
            <setting name="File4" serializeAs="String">
                <value />
            </setting>
            <setting name="File5" serializeAs="String">
                <value />
            </setting>
            <setting name="Files" serializeAs="String">
                <value>False</value>
            </setting>
        </StartupPrograms.My.MySettings>
    </userSettings>
</configuration>